html, body {
  font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif);
  font-size: var(--markdown-font-size, 14px);
  padding: 0 26px;
  line-height: var(--markdown-line-height, 22px);
  word-wrap: break-word;
}
.oldFossil .pikchr-svg, .oldFossil svg.pikchr {
  background-color: white;
}
.pikchr-src {
  display: none;
}

body {
  padding-top: 1em;
  margin-bottom: calc(100vh - 22px);
}
h1, h2, h3, h4, h5, h6,
p, ol, ul, pre {
  margin-top: 0;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 0.2em;
}
select:focus,
textarea:focus {
  outline: 1px solid -webkit-focus-ring-color;
  outline-offset: -1px;
}

p {
  margin-bottom: 0.7em;
}

ul,
ol {
  margin-bottom: 0.7em;
}

hr {
  border: 0;
  height: 2px;
  border-bottom: 2px solid;
}

h1 {
  padding-bottom: 0.3em;
  line-height: 1.2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  margin-bottom: 0.7em;
}

th {
  text-align: left;
  border-bottom: 1px solid;
}

th,
td {
  padding: 5px 10px;
}

table > tbody > tr + tr > td {
  border-top: 1px solid;
}

blockquote {
  margin: 0 7px 0 5px;
  padding: 0 16px 0 10px;
  border-left-width: 5px;
  border-left-style: solid;
}

code {
  font-family: var(--vscode-editor-font-family, "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace);
  font-size: 1em;
  line-height: 1.357em;
}
